---
import Layout from "../layouts/Layout.astro"

const pageTitle = "About Me";

 
// const identity = {
//   firstName: "Sarah",
//   country: "Canada",
//   occupation: "Technical Writer",
//   hobbies: ["photography", "birdwatching", "baseball"],
// };


const identity = ["Sarah", "Canad", "Technical Writer"]
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
---
<Layout>

    <!-- <ul>
      <p>My Identity:</p>
      {identity.map((identity) => <li>{identity}</li>)}
    </ul>
  <ul> -->
    <h1>I'm khushboo from Himachal Pradesh</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, nobis iusto sapiente, repellendus in eligendi autem provident sed aliquam, dolores inven\\\\\\\\\\\\\\
  <p>My skills are:</p>
  {skills.map((skills) => <li>{skills}</li>)}
  </ul>
 </Layout>
 

 