---
import Layout from "../layouts/Layout.astro"
---
<Layout>
    <nav>
        <img src="public/flower.jpeg" alt="">
        <h1>Astro</h1>
        <a href="/">Home</a>
         <a href="about">About</a>
     </nav>
</Layout>