---
import Layout from "../layouts/Layout.astro"
---
<Layout>
    <nav>
        <img src="" alt="">
        <h1>Astro</h1>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
    </nav>
</Layout>