---
import Layout from "../layouts/Layout.astro"
const homePagetittle = "Astro"
---
<Layout>
    <nav>
        <img src="public/flower.jpeg" alt="">
        <h1>{homePagetittle}</h1>
        <a href="/">Home</a>
         <a href="about">About</a>
         <a href="blog">Blog</a>
     </nav>
</Layout>