---

---

<footer>
    <ul>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
        <li><p>Contact us: +91 99999-99999</p></li>
    </ul>
</footer>


<style>
    footer{
        background-color:antiquewhite;
        /* margin-top: 24%; */
        /* margin-left: 0%; */
      }
    ul li{
        text-decoration: none;
    }
</style>